<div class="nav justify-content-end mt-3">
    <div class="dropdown">
  <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
    {{login}}
  </button>
  <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton1">
    <li><a class="dropdown-item" href="./zmenaHesla.php">Změnit heslo</a></li>
    <li><a class="dropdown-item" href="./logout.php">Odhlášení</a></li>
  </ul>
    </div>
</div>

<h1>Prohlížeč databáze</h1>
<div><a href="./lide/index.php">Seznam zaměstnanců</a></div>
<div><a href="./rooms/index.php">Seznam místností</a></div>
<div><a href="./klice/index.php">Seznam klíčů</a></div>
